* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background: #d6d6d6;
}

.container {
    position: relative;
    background: white;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.4);
    height: 320px;
    padding: 10px;
    border-radius: 20px;
    max-width: 400px;
    display: flex;
    gap: 20px;
    align-items: center;

    .fa-solid {
        position: absolute;
        background: rgba(0, 0, 0, 0.296);
        color: white;
        padding: 10px;
        cursor: pointer;
        &:hover {
            background: rgba(0, 0, 0, 0.536);
        }
        &:active {
            background: white;
            color: black;
        }
    }
    .fa-arrow-right {
        right: 0;
    }
    .fa-arrow-left {
        left: 0;
    }
    
    .images-container {
        display: flex;
        height: 100%;
        gap: 10px;
        overflow: hidden;
        align-items: center;
        img {
            height: 100%;
            width: 100%;
            border-radius: 20px;
            object-fit: cover;
        }
    }
    ::-webkit-scrollbar {
        display: none;
    }
}

@media (max-width: 700px) {
    .container {
        width: 99%;
    }
}