* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

.container {
    display: flex;
    flex-direction: column;
    height: 100vh;
    width: 100%;
    background: #d8e8ff;
}

.header {
    z-index: 1;
    user-select: none;
    display: flex;
    justify-content: center;
    align-items: center;
    background: #ffffff;
    height: 80px;
    box-shadow: 10px 10px 10px rgba(0, 0, 0, 0.075);
}

.header img {
    height: 90px;
}

.header label {
    font-size: x-large;
    color: #3952a3;
    font-weight: 600;
}

.body {
    height: 100%;
    display: flex;
}

.body .left-side {
    background: #e0eaf8;
    width: 30%;
    display: flex;
    flex-direction: column;
    gap: 4px;
    margin: 4px;
}

.left-side input, .left-side select {
    width: 100%;
    padding: 4px;
    color: gray;
    border: none;
    outline: none;
    background: white;
}

.left-side button {
    background: #bfdaff;
    color: #293f86;
    padding: 10px;
    border: none;
    font-weight: 600;
    margin-top: 20px;
    cursor: pointer;
}

.left-side button:active {
    background: #b6d3fc;
}

.left-side .btn-update {
    display: none;
}

.left-side input:focus, .left-side select:focus {
    transform: scale(1.01);
    background: rgb(250, 250, 250);
    color: black;
}

.left-side label {
    color: rgb(87, 87, 87);
    font-size: small;
}

.left-side .title {
    font-size: x-large;
    color: #3952a3;
    font-weight: 600;
    text-align: center;
    padding: 10px;
}

.left-side .error {
    background: rgb(243, 202, 202);
    color: rgb(158, 1, 1);
    margin-top: 4px;
    padding: 4px;
    display: none;
}

.left-side .succes {
    background: rgb(202, 243, 204);
    color: rgb(0, 117, 49);
    margin-top: 4px;
    padding: 4px;
    display: none;
}

.left-side .updateMessage {
    background: rgb(202, 220, 243);
    color: rgb(0, 31, 117);
    margin-top: 4px;
    padding: 4px;
    display: none;
}

.body .right-side  {
    background: #bfdaff;
    width: 70%;
    display: flex;
    flex-direction: column;
}

.body .right-side table {
    width: 100%;
    font-family: 'Courier New';
}

.body .right-side table th {
    background: #3952a3;
    color: white;
    padding: 4px;
}

.body .right-side table td {
    flex: 1 1 20%;
	text-align: center;
    padding: 4px;
}

.body .right-side table tr:nth-of-type(odd){
    background: #d8e7fc;
}

.body .right-side table tr:nth-of-type(even){
    background: #b0d1ff;
}

.body .right-side p {
    padding: 18px;
    padding-left: 40px;
    color: #293f86;
    font-weight: bold;
}

.hide-item {
    display: none;
}

tr .operation {
    display: flex;
}

td div {
    width: 50%;
    cursor: pointer;
}

td div:hover {
    background: #e7f1ff;
}